<!-- RXJS -->
<div class="row">
  <div class="col col-3">
    <h2>Join</h2>
    <ul>
      <li>
        <a routerLink="combineLatest">
          <span>combineLatest</span>
        </a>
      </li>
      <li>
        <a routerLink="forkJoin">
          <span>forkJoin</span>
        </a>
      </li>
      <li>
        <a routerLink="merge">
          <span>merge</span>
        </a>
      </li>
      <li>
        <a routerLink="partition">
          <span>partition</span>
        </a>
      </li>
      <li>
        <a routerLink="concat">
          <span>concat</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col col-3">
    <h2>Join</h2>
    <ul>
      <li>
        <a routerLink="combineLatest">
          <span>combineLatest</span>
        </a>
      </li>
      <li>
        <a routerLink="forkJoin">
          <span>forkJoin</span>
        </a>
      </li>
      <li>
        <a routerLink="merge">
          <span>merge</span>
        </a>
      </li>
      <li>
        <a routerLink="partition">
          <span>partition</span>
        </a>
      </li>
    </ul>
  </div>
</div>
